<html>
    <head>
        <title>Fee List</title>
    </head>
    <body>
        <h1>Fee List</h1>
        <form method="POST" action="/search_fee">
            {% csrf_token %}
            <tr>
                <td><input name="name"></td>
                <td><button type="submit">Search</button></td>
            </tr>
        </form>
        <table>
            <tr>
                <th>Student</th>
                <th>Amount</th>
                <th>Payment Date</th>
            </tr>
            {% for i in fees %}
            <tr>
                <td>{{ i.student }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.payment_date }}</td>
                <td>
                    <a href="delete_fee/{{ i.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>