<html>
    <head>
        <title>School Management System</title>
    </head>
    <body>
        <h1>School Management System</h1>
        <div>
            <div>Student
                <p>
                    <a href="create_student">Add Student</a>
                    <a href="student_list">Student list</a>
                </p>
            </div>
            <div>Result
                <p>
                    <a href="create_result">Add Result</a>
                    <a href="result_list">Result list</a>
                </p>
            </div>
            <div>Fee
                <p>
                    <a href="create_fee">Add Fee</a>
                    <a href="fee_list">Fee list</a>
                </p>
            </div>
        
        </div>
    </body>
</html>
